{% extends "app/base.html" %}

{%block title %} Index page {% endblock %}

{% block body %}
<div class="greenBOX">
	<h1>Welcome</h1>
<div style="margin-left:2%; margin-right:2%;">
	<img src="{{STATIC_URL}}app/imgs/childhooddrawing.jpg" alt="oldman" style="width:620px;height:470px;  width:608px;height:456px; box-shadow: 0px 0px 10px  	#D0D0D0 ;">
	<button style="margin-left:13.5%; margin-top:12%" onclick="http://127.0.0.1:8000/profile/">:
	</button>
	<img src="{{STATIC_URL}}app/imgs/streetart.jpg" alt="oldwoman" style="margin-left:14.55%; width:620px;height:470px; box-shadow: 0px 0px 10px  	#D0D0D0 ;">
</div>
</div>
<div class="greenBOX">
	<img src="{{STATIC_URL}}app/imgs/tichel.jpg" alt="Tichel" style="width:608px;height:456px; float:right; width:608px;height:400px">
        <img src="{{STATIC_URL}}app/imgs/palestinian_clothes.jpg" alt="Palestinian clothes" style="width:608px; height:456px">
</div>
{% endblock %}
